generated_data/shprd_sites_ptms_with_idr_and_accessibility_attributes.tsv filter=lfs diff=lfs merge=lfs -text
shprd_data/shprd_tracks_DISICL_human.tsv filter=lfs diff=lfs merge=lfs -text
shprd_data/shprd_tracks_dssp_human.tsv filter=lfs diff=lfs merge=lfs -text
shprd_data/shprd_tracks_filtered_af2_f1_solv_acc.tsv filter=lfs diff=lfs merge=lfs -text
shprd_data/shprd_tracks_human_aromatic_resis.tsv filter=lfs diff=lfs merge=lfs -text
shprd_data/arabidopsis filter=lfs diff=lfs merge=lfs -text
shprd_data/drosophila filter=lfs diff=lfs merge=lfs -text
shprd_data/e_coli filter=lfs diff=lfs merge=lfs -text
shprd_data/pombe filter=lfs diff=lfs merge=lfs -text
shprd_data/yeast filter=lfs diff=lfs merge=lfs -text
shprd_data/arabidopsis/shprd_arabidopsis_copynumber_bassal_abundance_all_tissues_time_all.tsv filter=lfs diff=lfs merge=lfs -text
shprd_data/arabidopsis/shprd_arabidopsis_copynumber_bassal_reviewed_abundance_all_tissues_time.tsv filter=lfs diff=lfs merge=lfs -text
shprd_data/arabidopsis/shprd_domains_idrs_arabidopsis.tsv filter=lfs diff=lfs merge=lfs -text
shprd_data/arabidopsis/arabidopsis_clean.fasta filter=lfs diff=lfs merge=lfs -text
shprd_data/drosophila/drosophila_clean.fasta filter=lfs diff=lfs merge=lfs -text
shprd_data/drosophila/shprd_domains_idrs_drosophila.tsv filter=lfs diff=lfs merge=lfs -text
shprd_data/drosophila/shprd_drosophila_copynumber.tsv filter=lfs diff=lfs merge=lfs -text
shprd_data/e_coli/shprd_domains_idrs_ecoli.tsv filter=lfs diff=lfs merge=lfs -text
shprd_data/e_coli/shprd_ecoli_copynumber_ishihama.tsv filter=lfs diff=lfs merge=lfs -text
shprd_data/e_coli/shprd_ecoli_copynumber_wisniewski.tsv filter=lfs diff=lfs merge=lfs -text
shprd_data/e_coli/ecoli_clean.fasta filter=lfs diff=lfs merge=lfs -text
shprd_data/pombe/shprd_domains_idrs_pombe.tsv filter=lfs diff=lfs merge=lfs -text
shprd_data/pombe/shprd_pombe_copynumber.tsv filter=lfs diff=lfs merge=lfs -text
shprd_data/pombe/pombe_clean.fasta filter=lfs diff=lfs merge=lfs -text
shprd_data/yeast/shprd_yeast_copynumber_lawless.tsv filter=lfs diff=lfs merge=lfs -text
shprd_data/yeast/shprd_domains_idrs_s_cerevisiae.tsv filter=lfs diff=lfs merge=lfs -text
shprd_data/yeast/shprd_yeast_copynumber_ghaemmaghami.tsv filter=lfs diff=lfs merge=lfs -text
shprd_data/yeast/s_cerevisiae_clean.fasta filter=lfs diff=lfs merge=lfs -text
FIGURES/bokeh/MTP1_relative_FCR_bokehplot_vf.html filter=lfs diff=lfs merge=lfs -text
FIGURES/bokeh/MTP1_relative_aromatic_bokehplot_vf.html filter=lfs diff=lfs merge=lfs -text
FIGURES/bokeh/relative_FCR_bokehplot_vf.html filter=lfs diff=lfs merge=lfs -text
FIGURES/bokeh/relative_aromatic_bokehplot_vf.html filter=lfs diff=lfs merge=lfs -text
