.DS_Store
.ipynb_checkpoints/


# special cases
2021/emenecker_metapredict_2021/accuracy/data_real/
2021/Gonzalez_Foutel_2021/data/sec/
2021/Gonzalez_Foutel_2021/data/m_linker_m/
2021/Gonzalez_Foutel_2021/data/synthetic_linkers/
2021/Gonzalez_Foutel_2021/data/linkers/
2022/jankowski_2022/real_conservation_calculation.ipynb

